$background: #F1F1F1;
$background-side: #FFF;
$background-alarmer: #00BCD4;
$background-confirm: #FF7C7C;
    
$background-text: #616161;
$background-side-text: #696969;
$background-alarmer-text: #E0F7FA;
$background-confirm-text: #FBE9E7;

$main-color: #FF7C7C;
$main-color-inactive: #e5e5e5;
$accent-color: #8BC34A;
$accent-color-inactive: #e5e5e5;

$analog-clock-color: #696969; //#5F5F5F;
$analog-arrow-h-color: #696969;
$analog-arrow-m-color: #696969;
$analog-arrow-s-color: $main-color;
$digital-clock-color: #696969;

$border-color-light: #EEE;

$shadow-color-light: #CCC;
$shadow-color-dark: #666;
$shadow-color-default: $shadow-color-light; 
$shadow-side: #C6C6C6;

/*
$background: #EEEEEE;
$background-side: #323232;
$background-alarmer: #00BCD4;

$background-text: #616161;
$background-side-text: #DEDEDE;
$background-alarmer-text: #E0F7FA;

$clock-color: #5F5F5F; //#EFFFF1 - lighty
$main-color: #2196F3;
$accent-color: #E91E63;
$accent-color-inactive: #424242;



$shadow-color-light: #BBB;
$shadow-color-dark: #666;
$shadow-color-default: $shadow-color-light; 
*/

@mixin arrow-shadow($size, $color:$shadow-color-default) {
     box-shadow: 0 0 $size $color;   
}

@import 'reset.css';

@font-face {
      font-family: 'fontello';
      src: url('../font/fontello.eot?58315094');
      src: url('../font/fontello.eot?58315094#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?58315094') format('woff'),
           url('../font/fontello.ttf?58315094') format('truetype'),
           url('../font/fontello.svg?58315094#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: $background-text;  
    font-size: 14px;
}

input {
    font: inherit;
}

div#container {
    background: $background;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    min-height:  650px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
}

div#main {
    width: calc( 100% - 300px - 5px );
    min-width: 650px;
    height: 100%;
    float: left;
    background: $background;
    display: table;
    position: relative;
    
    div#tumbler {
        height: 30px;
        display: table-row;
        
        p {
            margin-top: 10px;
            text-align: center;
            font-size: 1.3em;
        }

        span#check {
            width: 55px;
            height: 30px;
            display: inline-block;
            background: $main-color-inactive;
            border-radius: 25px;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.2s ease-out 0;
            
            &:after {
                content: " ";
                position: absolute;
                left:0;
                width: 26px;
                height:  26px;
                background: lighten($background,4%);
                border-radius: 50%;
                margin: 2px;
                box-shadow: 1px 1px 2px $shadow-color-light;
                transition: all 0.2s ease-out 0;
            }
            
            &.digital {
                background: $main-color;
                
                &:after {
                    left: 25px !important;
                    box-shadow: -1px 1px 2px $shadow-color-light;
                }
            }
        }
    }
    
    div#notify {
        background: rgba(40,40,40,0.7);
        opacity: 0;
        position: absolute;
        border: none;
        border-radius: 50px;
        left: calc( 50% - 200px );
        bottom: 40px;
        width: 400px;
        line-height: 30px;
        text-align: center;
        color: #efefef;
        z-index: 100; 
    }
}

div#analog-border {
    display: none;
    width: 100%;
    vertical-align: middle;
    transition: all 0.5s linear 0;
    
    div#clock-face {
        border: 6px solid $analog-clock-color;
        box-shadow: 0 0 10px $shadow-color-default, inset 0 0 10px $shadow-color-default;
        border-radius: 50%;
        width: 550px;
        height: 550px;
        margin: 0 auto;
        position: relative;
        
        &:after { //маленький кругляшок посередине
            position: absolute;
            content: ' ';
            top: calc( 50% - 8px );
            left: calc( 50% - 8px );
            width: 16px;
            height: 16px;
            background: $analog-clock-color;
            border-radius: 50%;
            @include arrow-shadow(8px);
        }
        
        span#arrow-hour, span#arrow-minute, span#arrow-second {
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: 50% 100% 0;
        }

        span#arrow-second {
            margin: -45% -1px 0 -1px;
            padding: 45% 1px 0 0;
            border-radius: 3px;
            background: $analog-arrow-s-color;;
            @include arrow-shadow(4px);
        }

        span#arrow-minute {
            margin: -35% -2px 0 -2px;
            padding: 35% 2px 0 0;
            border-radius: 2px;
            background: $analog-arrow-m-color;
            @include arrow-shadow(6px);
        }

        span#arrow-hour {
            margin: -26% -3px 0 -3px;
            padding: 26% 3px 0 0;
            border-radius: 3px;
            background: $analog-arrow-h-color;;
            @include arrow-shadow(8px); 
        }

    }    
    
}

div#digital-border {   
    text-align: center;
    vertical-align: middle;
    display: none;
    transition: all 0.5s linear 0;
    
    div#clock-face {
        
        span {
            min-width: 33.3333333%;
            font-family: sans-serif;
            font-size: 9em;
            text-shadow: 0 0 3px $shadow-color-default;
            color: $digital-clock-color;
        }
        span#digital-hour {
            &:after {
                content: ":";
                -webkit-animation: blink 1s linear infinite;
                animation: blink 1s linear infinite;
            }
            
        }
        
        span#digital-minute {
                        
        }
        
        span#digital-second {
            &:before {
                content: ":";
                -webkit-animation: blink 1s linear infinite;
                animation: blink 1s linear infinite;
            }
        }
    }
}

div#side {
    width: 300px;
    height: 100%;
    float:right;
    background: $background-side;
    color: $background-side-text;
    box-shadow: 0 0 5px $shadow-side;
    overflow: hidden;
    
    #alarm_container {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: calc( 100% - 80px );
        padding-right: 25px;
        
        #alarm_item {
            height: 120px;
            position: relative;
            transition-property: height,background;
            transition-duration:  0.05s;
            transition-timing-function: linear;
            transition-delay: 0;
            margin: 10px 5px;
            padding: 0 10px;
            font-size: 14px;
            
            #alarm_desc {
                font-size: 0.9em;
                width: calc(70% - 20px);
                height: 15%;
                margin: 0 15%;
                padding: 0 10px;
                background: transparent;
                border: none;
                color: lighten($background-side-text,20%);
                outline: none;
                text-overflow: ellipsis;
                text-align: center;
                cursor: default;
                transition: font-size 0.05s linear 0;
                
                &::-webkit-input-placeholder {color:transparent;}
                &::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
                &:-moz-placeholder           {color:transparent;}/* Firefox 18- */
                &:-ms-input-placeholder      {color:transparent;}
            }
            
            #alarm_time {
                font-size: 4em;
                background: transparent;
                color: inherit;
                border: none;
                width: 70%;
                height: 55%;  
                margin: -10px 0 0 0;
                float: left;
                cursor: default;
            }
            
            #alarm_tumbler {
                height: 55%;
                margin: -10px 0 0 0;
                width: 19%;
                max-width: 40px;
                float: right;
                text-align: right;
                
                span {
                    display: inline-block;
                    width: 40px;
                    height: 20px;
                    margin-top: 30px;
                    border-radius: 10px;
                    background: $accent-color-inactive;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.2s linear 0;

                    &:after {
                        display: block;
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        left: 0;
                        margin-top: 1px;
                        margin-left: 2px;
                        background: $background-side;
                        border-radius: 50%;
                        content: " ";
                        transition: all 0.2s linear 0;
                        box-shadow: 0 0 2px $shadow-color-default;
                    }

                    &.enable {
                        background: $accent-color;
                         &:after {
                             margin-left: 20px;
                         } 
                    }


                }
            }
            
            #alarm_remove {
                font-family: 'fontello';
                font-size: 16px;
                display: none;
                position: absolute;
                top: 3px;
                right: 4px;
                padding: 4px;
            }
            
            #alarm_days {
                clear: both;
                height: 15%;
                
                ul {
                    font-size: 0.9em;
                    
                    li {
                        display: none;
                        //background: lighten($background-side,10%);
                        padding: 4px 3px;
                        overflow: hidden;
                        cursor: default;
                    }
                    
                    li.on {
                        display: inline-block;
                        
                    }
                    
                }
                
            }
            
            #alarm_edit {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 22px;
                cursor: pointer;
                font-family: 'fontello';

                &:hover {
                    //background: rgba(#CCC,.2);
                    span {
                        background: rgba(#CCC,.4);
                        border-radius: 50%;
                        width: 22px;
                        line-height: 22px;
                    }
                }
                
                span {
                    display: inline-block;
               
                    vertical-align: middle;
                }
            }
           
            #confirm {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                width: 100%;
                height: 100%;
                background: $background-confirm;
                color: $background-confirm-text;
                text-align: center;
                
                #text {
                    width: 100%;
                    height: 80%;
                    line-height: 120px;
                    vertical-align: middle;
                    font-size: 2em;
                    font-weight: 600;
                }
                
                #remove, #cancel {
                    height: 20%;
                    line-height: 30px;
                    font-size: 1.3em;
                    cursor: pointer;
                    display: inline-block;
                    margin: 0 10px;
                }
                
                #remove {
                    
                }
                
                #cancel {
                    
                }
            }
            
        }
        
        #alarm_item.edited {
            height:150px;
            background: darken($background-side,3%);
            border: 1px solid $border-color-light;
            padding-top: 5px;
        
            #alarm_desc {
                font-size: 1.1em;
                border-bottom: 1px solid $accent-color;
                cursor: text;
                
                &::-webkit-input-placeholder {color:lighten($background-side-text,30%);}
                &::-moz-placeholder          {color:lighten($background-side-text,30%);}
                &:-moz-placeholder           {color:lighten($background-side-text,30%);}
                &:-ms-input-placeholder      {color:lighten($background-side-text,30%);}
                
                &:focus::-webkit-input-placeholder {color:transparent;}
                &:focus::-moz-placeholder          {color:transparent;}
                &:focus:-moz-placeholder           {color:transparent;}
                &:focus:-ms-input-placeholder      {color:transparent;}
                
            }
            
            #alarm_remove {
                cursor: pointer;
                display: block;
                color:lighten($background-side-text,20%);
                
            }
            
            #alarm_time {
                cursor: pointer;
            }
            
            #alarm_days {
                
                ul {
                    font-size: 0.75em;
                    
                    li {
                        display: inline-block;
                        background: darken($background-side,10%);
                        text-overflow: ellipsis;
                        cursor: pointer;
                        padding: 1px;
                        margin: 0 3px;
                        width: 22px;
                        line-height: 22px;
                        border-radius: 50%;
                        text-align: center;
                    }
                    
                    li.on {
                        background: $accent-color;
                    }
                }
            }
            
            #alarm_edit {
                transform: rotate(180deg);
            }
        }
        
        hr {
            margin: 0 auto;
            padding: 0;
            height: 0;
            width: 90%;
            border: 0;
            border-top: 1px solid $border-color-light;
        }
 
    }
    
    #alarm_add {
        float: right;
        margin: 10px 25px 25px 25px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background: $accent-color;
        display: table;
        text-align: center;
        box-shadow: 1px 1px 5px $shadow-color-default;
        cursor: pointer;
        
        &:after
         {
            content: "+";
            display: table-cell;
            vertical-align: middle;
            font-size: 22px;
        }
        
        &:hover {
            background: lighten($accent-color, 10%);
        }
    }
}

div#alarmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $background-alarmer;
    font-size: 12pt;
    color: $background-alarmer-text;
    z-index: 999;
    
    #extender {
        height: calc( 50% - 210px );    
    }
    
    #time {
        font-size: 12em;
        text-align: center;
        height: 200px;
    }
    
    #desc {
        font-size: 1.5em;
        text-align: center;
        max-height: 80px;
        overflow-y: hidden;
    }
    
    #alarm_snooze,#alarm_done {
        text-align: center;
        cursor: pointer;
        padding: 10px 0;
        line-height: 70px;
        vertical-align: middle;
        
        &:hover {
            background: rgba(40,40,40,0.1);
        }
        
    }
     
    #alarm_snooze {
        font-size: 2em;
    }
    
    #alarm_done {
        margin-top: 30px;
        font-size: 3em;
        color: #CDDC39;
    }
    
}

@-webkit-keyframes blink {
  0% { opacity: 0.8; }
  40% { opacity: 0.8; }
  50% { opacity: 0; }
  60% { opacity: 0.8; }
  100% { opacity: 0.8; }
}

@keyframes blink {
  0% { opacity: 0.8; }
  90% { opacity: 0.8; }
  100% { opacity: 0; }
}


::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-thumb{
    border: none;
    background: #BBB;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}

::-webkit-scrollbar-track{
    border-width:0;
    background: transparent;
}
